[user]
	name = liuyx
	email = yuxuan906@foxmail.com
[http]
#	proxy = 127.0.0.1:7890
[https]
#	proxy = 127.0.0.1:7890
[core]
	editor = vim
	pager = less -FRSX
[credential]
	helper = store
[init]
	defaultBranch = develop
